/* src/components/ContactList/ContactList.module.css */
.list {
  list-style: none;
  padding: 0;
}

.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0; /* Збільште вертикальні відступи */
  border-bottom: 1px solid #eee;
  font-size: 18px; /* Збільште розмір шрифту елементів списку */
}

.listItem:last-child {
  border-bottom: none;
}
